.dialog-icon {
    bottom: -5px !important;
}

.section-header-container {
    margin-right: 0px !important;
}

.section-bg {
    gap: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

p {
    color: #062841;
    text-align: right;
    font-family: "main";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-field {
    border-radius: 5px;
    border: 1px solid var(--Primary-Color, #335269);
    background: #FFF;
    height: 55px;
    width: 70%;
}

.custom-mat-option {
    width: 30%;
}

.small {
    width: 200px;
}

.button-container {
    width: 50%;
    display: flex;
    cursor: pointer;
}

.left-button {
    justify-content: flex-end;
}

.right-button {
    justify-content: flex-start;
}


.action-button {
    display: flex;
    width: 80%;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    gap: 15px;
    border-radius: 5px;
    border: 3px solid var(--active-red);
    transition: background-color 0.3s ease;
}

.active {
    color: white;
    background: var(--active-red);
}

.active:hover {
    background-color: transparent;
    color: var(--active-red);
}

.not-active {
    background-color: transparent;
    color: var(--active-red);
}

.not-active:hover {
    color: white;
    background: var(--active-red);
}

.p-0 {
    font-family: "main";
    padding: 0;
}

.input-icon {
    width: 20px;
    height: 20px;
    padding: 0 !important;
}

.fit {
    width: fit-content;
}


::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
    background-color: #E96D5A !important;
    /* Change the background color */
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline.mat-focused {
    background-color: #E96D5A!important;
}