.mat-bottom-sheet-container .ng-tns-c147-1 .mat-bottom-sheet-container-large 
.ng-trigger .ng-trigger-state .ng-star-inserted{
    padding: 0 !important;
}


.dashboard-data-title{
    margin: 2px;
    color:#6d767f;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #efefef;
    margin-bottom: 5px;
}