<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c780857a-e78d-4cd2-b022-f33f581d62bf/resourceGroups/Bankeshet/providers/Microsoft.Web/sites/Bankeshet</ResourceId>
    <ResourceGroup>Bankeshet</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bankeshet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3fa5421b-b8ba-41a9-a7bd-aeea00427106</ProjectGuid>
    <PublishUrl>https://bankeshet.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Bankeshet</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>