<section id="more-features" class="section-bg exchange-container">
    <br>
    <div class="section-header-container section-title" dir="rtl">
        <img class="section-icon" src="../../../../../assets/frontSections/Icons/Icons_SpecialDiscounts.svg">
        <div class="section-text">מבצעים מיוחדים שיחסכו לכם כסף</div>
    </div>

    <div class="discount-container">
        <div class="small-letters-box" dir="rtl">
            <div class="small-letters-header">
                <p>האותיות הקטנות</p>
            </div>
            <div class="small-letters-lines">
                <p class="mb-2">המבצע תקף להטבות המפורטות בלבד:</p>
                <ul class="space-between">
                    <li>הליכות בוקר</li>
                    <li>פעילות תנועת נוער</li>
                    <li>הזמנת חוג</li>
                    <li>יום לימודים בטבע</li>
                </ul>
            </div>
        </div>
        
        <div class="image-box">
            <img src="../../../../../assets/frontSections/Components/BenefitCard.png" alt="Image">
            <div class="image-text">
                <p class="discount-text-percentage">20%</p>
                <div class="discount-box">
                    <span class="discount-text">הנחה</span>
                </div>
            </div>
            <div class="discount-explanation-container dashed-border" dir="rtl">
                שלוש כיתות שיזמינו יחד את אותה הטבה, יזכו בהנחה של 20% (ההחזר יופקד בחשבון לאחר ביצוע הרכישה)
            </div>
        </div>

        <div class="image-box">
            <img src="../../../../../assets/frontSections/Components/BenefitCard.png" alt="Image">
            <div class="image-text">
                <p class="discount-text-percentage">10%</p>
                <div class="discount-box">
                    <span class="discount-text">הנחה</span>
                </div>
            </div>
            <div class="discount-explanation-container dashed-border" dir="rtl">
                שתי כיתות שיזמינו יחד את אותה הטבה, יזכו בהנחה של 10% (ההחזר יופקד בחשבון לאחר ביצוע הרכישה)
            </div>
        </div>
    </div>

</section>

<img src="../../../../../assets/frontSections/Images/LastStripQuote.png" alt="Image" class="last-strip-quote">