<section id="more-features" class="section-bg exchange-container">
    <br>
    <div class="section-header-container section-title" dir="rtl">
        <img class="section-icon" src="../../../../../assets/frontSections/Icons/Icon_ExchangeGate.svg">
        <div class="section-text">שערי מט"ח</div>
    </div>

    <div class="items-container" dir="rtl">
        <img src="../../../../../assets/frontSections/Images/exchangeSection/1-2grade.png" alt="ExchangeGate">
        <img src="../../../../../assets/frontSections/Images/exchangeSection/3-4grade.png" alt="ExchangeGate">
        <img src="../../../../../assets/frontSections/Images/exchangeSection/5-6grade.png" alt="ExchangeGate">
    </div>

</section>