<section class="hero-section" dir="rtl">
  <img class="hero-img" src="../../../../assets/frontSections/Images/Hero-Image.png">
  <div class="hero-body" data-aos="zoom-out">
    <div class="main-header-container">
      <div class="main-header">הבנק החברתי הראשון</div>
      <p class="hero-subtitle">הבנק היחיד שבו הרווח שלך מייצר חיבורים</p>
      <p class="hero-subtitle">הירשמו עכשיו! למה אתם מחכים?</p>
      <div id="arrow" class="btn-container login-button active-button-container">
        <div class="text-container">הצטרפו עכשיו!</div>
      </div>
    </div>
  </div>

  <div class="hero-footer">
    <p class="hero-footer-title">
      <img class="icon" src="../../../../assets/frontSections/Icons/bankeshetIcon.svg" />
      שעות פתיחה
    </p>
    <p class="hero-footer-text">ימים א׳ - ה׳ בין השעות 08:15 - 13:45 | ימים ו׳ בין השעות 08:15 - 12:00</p>
  </div>

</section>

<app-classes id="classes"></app-classes>

<app-products id="product" style="margin-top:10%"></app-products>

<app-foreign-exchange id="exchange"></app-foreign-exchange>

<app-footer></app-footer>